*,
*:before,
*:after {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  color: #21092f;
  background-image: url('./images/bg-main-desktop.png');
  background-repeat: no-repeat;
  background-size: 30%;
  overflow: hidden;
}

.cards {
  /* border: 2px solid red; */
  position: relative;
  display: inline-block;
  top: 35px;
}

.name-content {
  color: #fff;
  /* border: 2px solid purple; */
  position: absolute;
  bottom: 10%;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.number-content {
  color: #fff;
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
}

.number-content span {
  letter-spacing: 0.3rem;
}

#frontcard-div > #frontcard-img,
#backcard-div > img {
  height: 200px;
}

#frontcard-div,
#backcard-div {
  margin: 1rem 0rem;
  /* border: 2px solid green; */
  position: relative;
}

#img-circles {
  position: absolute;
  left: 10%;
  top: 15%;
}

#frontcard-div {
  left: 15%;
}

#backcard-div {
  margin-top: 0.85rem;
  left: 32%;
}

form {
  position: absolute;
  top: 80%;
  right: 10%;
  transform: translateY(-100%);
  width: 30%;
}

.name-div input,
.number-div input {
  width: 100%;
  padding: 0.75rem 0.5rem;
  margin-top: 0.35rem;
}

.name-div input::placeholder,
.number-div input::placeholder {
  font-size: 1rem;
}

.name-div label,
.number-div label {
  display: block;
}

.number-div,
.expiry-div {
  margin-top: 1.75rem;
}

input::placeholder {
  color: #b0a9b3;
  letter-spacing: 0.1rem;
}

.expiry-field {
  display: flex;
  justify-content: space-between;
  margin-top: 0.35rem;
}

.expiry-field input {
  padding: 0.65rem 1.5rem;
  padding-left: 0.45rem;
}

.expiry-div input:first-child,
.expiry-div input:nth-child(2) {
  width: 22%;
}

.expiry-span {
  display: flex;
  justify-content: space-between;
}

.expiry-span span:first-child {
  flex: 1.85;
}

.expiry-span span:last-child {
  flex: 1;
}

.expiry-div input:last-child {
  width: 35%;
}

input:focus {
  outline: none;
}

.confirm-btn {
  padding: 0.75rem 0rem;
  border-radius: 8px;
  background-color: #21092f;
  color: #fcfcfd;
  margin-top: 1.75rem;
  font-size: 1.2rem;
  width: 100%;
  border: none;
}

#backcard-div p {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
  right: 12%;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 1.1rem;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 0.45rem;
  display: none;
}
